/*CSS RESETS*/
* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 900px;
	height: 700px;
	background-color: black;
}

#header {
	width: 900px;
	height: 100px;
	background-color: #EDEDED;
}

#image {
	width: 300px;
	height: 200px;
	background-color: #FEFDFE;
	display: inline-block;
	margin: 10px 0px 0px 30px;
}

#main {
	width: 500px;
	height:200px;
	background-color: #FDD42F;
	display: inline-block;
	margin-left: 10px;
}